{{recipe.food}}
<ul>
	<li><img src='{{recipe.ingredient1}}'></li>
	<li><img src='{{recipe.ingredient2}}'></li>
	<li><img src='{{recipe.ingredient3}}'></li>
	<li><img src='{{recipe.ingredient4}}'></li>
	<li>{{recipe.health}}</li>
	<li>{{recipe.hunger}}</li>
	<li>{{recipe.sanity}}</li>
</ul>